aiogram==3.13.1
python-dotenv==1.0.1
pydantic==2.9.2
requests==2.31.0
beautifulsoup4==4.12.3
aiohttp==3.9.5
aiofiles==23.2.1
selenium==4.17.2
pydantic-settings==2.5.2
black==24.8.0
selenium-stealth==1.0.6
webdriver-manager==4.0.2
fake-useragent==1.5.1
